.code {
  height: 100%;
  margin: 0;
  margin-right: 6px;
  padding: 0;
  word-wrap: break-word;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  overflow: auto;
  text-align: justify;
  white-space: pre-wrap;
  pointer-events: all;
}
