.win {
  main {
    position: absolute;
    z-index: 2;
    width: 100%;
    min-height: 100%;
    pointer-events: none;

    background: linear-gradient(0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.4) 100%) top/auto 170px no-repeat,
      linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%) left/300px 100% no-repeat,
      linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%) right/420px 100% no-repeat;

    header {
      width: 100%;
      padding-top: 4px;
    }

    article {
      margin-top: 22px;
      display: flex;
      justify-content: space-between;

      nav {
        margin-left: 60px;
      }

      .router {
        margin-right: 60px;
      }

      .codeView {
        position: absolute;
        left: 60px;
        top: 933px;
        width: 1087px;
        height: 92px;
        box-sizing: border-box;
        padding: 20px;
        padding-right: 0;
        background: rgba(126, 92, 92, 0.1);
        backdrop-filter: blur(8px);
        ::-webkit-scrollbar {
          background-color: transparent;
          width: 14px;
        }
        ::-webkit-scrollbar-button {
          display: none;
        }
        ::-webkit-scrollbar-thumb {
          background: rgba(255, 255, 255, .3);
          background-clip: padding-box;
          border: 4px solid transparent;
          border-radius: 7px;
        }
      }
    }
  }
  main.includeCodeArea {
    min-height: 1025px;
   }
}

/* TODO: 设置分辨率时会产生白边  */
.backend-container {
  position: fixed;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  z-index: 1;
}